annotated-types==0.8.0
argcomplete==3.7.2
astroid==4.1.2
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
click==8.4.2
colored==2.3.2
cryptography==50.0.1
dill==0.4.1
distlib==0.4.3
et_xmlfile==2.0.0
filelock==3.32.2
fontforge==2025.10.9
fonttools==4.64.0
greenlet==3.5.4
idna==3.18
iniconfig==2.3.0
isort==8.0.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
markdown-it-py==4.2.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==11.1.0
msgpack==1.2.1
ndiff==7.991
numpy==2.5.1
openpyxl==3.1.5
packaging==26.3
pipx==1.16.6
platformdirs==4.11.0
pluggy==1.6.0
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.20.0
pynvim==0.6.0
pytest==9.1.1
python-discovery==1.5.1
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
rpds-py==2026.6.3
scipy==1.18.0
shtab==1.9.3
tomlkit==0.15.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
userpath==1.9.2
virtualenv==21.7.1
wcwidth==0.8.2
wheel==0.47.0
